html,
body {
  box-sizing: border-box;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}
.mainTheme {
  background-color: #1e2a38;
  color: white !important;
}

.text-glow {
  color: white !important;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
